# Main root
.DS_Store
.gitignore

# Sympho mobile app flutter:
/App/.DS_Store
/App/sympho-mobile-app-flutter/.DS_Store
/App/sympho-mobile-app-flutter/.gitignore
/App/sympho-mobile-app-flutter/*.class
/App/sympho-mobile-app-flutter/*.log
/App/sympho-mobile-app-flutter/*.pyc
/App/sympho-mobile-app-flutter/*.swp
/App/sympho-mobile-app-flutter/.atom/
/App/sympho-mobile-app-flutter/.build/
/App/sympho-mobile-app-flutter/.buildlog/
/App/sympho-mobile-app-flutter/.history
/App/sympho-mobile-app-flutter/.svn/
/App/sympho-mobile-app-flutter/.swiftpm/
/App/sympho-mobile-app-flutter/migrate_working_dir/
/App/sympho-mobile-app-flutter/.metadata
/App/sympho-mobile-app-flutter/analysis_options.yaml
/App/sympho-mobile-app-flutter/pubspec.lock
/App/sympho-mobile-app-flutter/*.iml
/App/sympho-mobile-app-flutter/*.ipr
/App/sympho-mobile-app-flutter/*.iws
/App/sympho-mobile-app-flutter/.idea/
/App/sympho-mobile-app-flutter/**/doc/api/
/App/sympho-mobile-app-flutter/**/ios/Flutter/.last_build_id
/App/sympho-mobile-app-flutter/**/ios/Pods
/App/sympho-mobile-app-flutter/**/ios/Podsfile.lock
/App/sympho-mobile-app-flutter/.dart_tool/
/App/sympho-mobile-app-flutter/.flutter-plugins-dependencies
/App/sympho-mobile-app-flutter/.pub-cache/
/App/sympho-mobile-app-flutter/.pub/
/App/sympho-mobile-app-flutter/build/
/App/sympho-mobile-app-flutter/coverage/
/App/sympho-mobile-app-flutter/app.*.symbols
/App/sympho-mobile-app-flutter/app.*.map.json
/App/sympho-mobile-app-flutter/android/app/debug
/App/sympho-mobile-app-flutter/android/app/profile
/App/sympho-mobile-app-flutter/android/app/release


# Sympho API rust:
/API/.DS_Store
/API/sympho-api-rust/.DS_Store
/API/sympho-api-rust/.gitignore
/API/sympho-api-rust/target
/API/sympho-api-rust/.idea
/API/sympho-api-rust/.env
/API/sympho-api-rust/Cargo.lock