# Main root
.DS_Store
__MACOSX

# Sympho mobile app flutter:
/App/.DS_Store
/App/sympho-mobile-app-flutter/.DS_Store
/App/sympho-mobile-app-flutter/.gitignore
/App/sympho-mobile-app-flutter/*.class
/App/sympho-mobile-app-flutter/*.log
/App/sympho-mobile-app-flutter/*.pyc
/App/sympho-mobile-app-flutter/*.swp
/App/sympho-mobile-app-flutter/.atom/
/App/sympho-mobile-app-flutter/.build/
/App/sympho-mobile-app-flutter/.buildlog/
/App/sympho-mobile-app-flutter/.history
/App/sympho-mobile-app-flutter/.svn/
/App/sympho-mobile-app-flutter/.swiftpm/
/App/sympho-mobile-app-flutter/migrate_working_dir/
/App/sympho-mobile-app-flutter/.metadata
/App/sympho-mobile-app-flutter/analysis_options.yaml
/App/sympho-mobile-app-flutter/pubspec.lock
/App/sympho-mobile-app-flutter/*.iml
/App/sympho-mobile-app-flutter/*.ipr
/App/sympho-mobile-app-flutter/*.iws
/App/sympho-mobile-app-flutter/.idea/
/App/sympho-mobile-app-flutter/**/doc/api/
/App/sympho-mobile-app-flutter/**/ios/Flutter/.last_build_id
/App/sympho-mobile-app-flutter/**/ios/Pods
/App/sympho-mobile-app-flutter/**/ios/Podsfile.lock
/App/sympho-mobile-app-flutter/.dart_tool/
/App/sympho-mobile-app-flutter/.flutter-plugins-dependencies
/App/sympho-mobile-app-flutter/.pub-cache/
/App/sympho-mobile-app-flutter/.pub/
/App/sympho-mobile-app-flutter/build/
/App/sympho-mobile-app-flutter/coverage/
/App/sympho-mobile-app-flutter/app.*.symbols
/App/sympho-mobile-app-flutter/app.*.map.json
/App/sympho-mobile-app-flutter/android/app/debug
/App/sympho-mobile-app-flutter/android/app/profile
/App/sympho-mobile-app-flutter/android/app/release


# Sympho API rust:
/API/.DS_Store
/API/sympho-api-rust/.DS_Store
/API/sympho-api-rust/.gitignore
/API/sympho-api-rust/target
/API/sympho-api-rust/.idea
/API/sympho-api-rust/.env
/API/sympho-api-rust/Cargo.lock

# Sympho API nestjs:
/API/sympho-api-nestjs/dist
/API/sympho-api-nestjs/node_modules
/API/sympho-api-nestjs/build
/API/sympho-api-nestjs/logs
/API/sympho-api-nestjs/*.log
/API/sympho-api-nestjs/npm-debug.log*
/API/sympho-api-nestjs/pnpm-debug.log*
/API/sympho-api-nestjs/yarn-debug.log*
/API/sympho-api-nestjs/yarn-error.log*
/API/sympho-api-nestjs/lerna-debug.log*
/API/sympho-api-nestjs/.DS_Store
/API/sympho-api-nestjs/coverage
/API/sympho-api-nestjs/.nyc_output
/API/sympho-api-nestjs/.idea
/API/sympho-api-nestjs/.project
/API/sympho-api-nestjs/.classpath
/API/sympho-api-nestjs/.c9/
/API/sympho-api-nestjs/*.launch
/API/sympho-api-nestjs/.settings/
/API/sympho-api-nestjs/*.sublime-workspace
/API/sympho-api-nestjs/.vscode/*
/API/sympho-api-nestjs/!.vscode/settings.json
/API/sympho-api-nestjs/!.vscode/tasks.json
/API/sympho-api-nestjs/!.vscode/launch.json
/API/sympho-api-nestjs/!.vscode/extensions.json
/API/sympho-api-nestjs/.env
/API/sympho-api-nestjs/.env.development.local
/API/sympho-api-nestjs/.env.test.local
/API/sympho-api-nestjs/.env.production.local
/API/sympho-api-nestjs/.env.local
/API/sympho-api-nestjs/.temp
/API/sympho-api-nestjs/.tmp
/API/sympho-api-nestjs/pids
/API/sympho-api-nestjs/*.pid
/API/sympho-api-nestjs/*.seed
/API/sympho-api-nestjs/*.pid.lock
/API/sympho-api-nestjs/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
